/* You can add global styles to this file, and also import other style files */
.welcome-title {
  margin-block: var(--atp-space-m);
}

footer nav {
  margin-block-start: var(--atp-space-m);
  display: flex;
  gap: var(--atp-space-m);
}

.welcome {
  max-width: 60ch;
  margin-inline: auto;
}

.welcome h2 {
  margin-block: var(--atp-space-m) var(--atp-space-s);
}

.welcome-cta {
  margin-block: var(--atp-space-m) 0;
}
