<div class="atp-layout">
  <atp-header id="header" class="layout-header" label="PriceEye" org="ATPCO"></atp-header>

  <div class="layout-sidebar">
    <atp-sidebar
      id="sidebar"
      [items]="sidebarItems"
      [activeId]="activeSidebarId"
      [outputNavigationEvents]="true"
      (navigationEventOutput)="onSidebarNavigation($event)"
    ></atp-sidebar>
  </div>
  <div class="scroll-wrapper">
    <div class="page-content">
      <atp-breadcrumbs [itemsList]="breadcrumbItems"></atp-breadcrumbs>
      <h1 class="view-title">Create delivery configuration</h1>
    </div>
  </div>
</div>
